<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DROP POWER</title>
    <style>
  
    </style>
</head>
<body style="display: flex;flex-direction:column;justify-content:space-around;">
   <button id="choose_folder" style="cursor:pointer">Wybierz Folder</button>
   <button style="cursor:pointer" id="start_button">Start</button>
   <img src="../images.jpg" alt="Zoorka" style="width:100px;height:100px; display:flex;margin:auto;">
   <script src="./js.js"></script>
</body>
</html>